<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "The Rails Jobs Board", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </nav>
  </div>
</header>
