<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received an application for the position of @job[:name]<h1>
    <p>Application submitted by: <%= @applying_user[:name] %></p>
    <p>Applicants email is: <%= @applying_user[:email] %></p>
    <div>
      <%= @app[:application_text] %>
    </div>
   </body>
</html>