#job-list {
  
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #eee;
    }
  }
  li {
    list-style: none;
    border-bottom: 1px solid #fff;
  }
  .job-title {
    font-size: 2em;
  }
  .job-comp,.job-date{
    margin-left: 15px;
  }
}

#job-list :last-child li{
  border-bottom: none;
}