<header class="cat-header">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "Full-Time", "#" %></li>
        <li><%= link_to "Part-Time", "#" %></li>
        <li><%= link_to "Contract", "#" %></li>
        <li><%= link_to "Freelance", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
